@model projectPrint.Models.Order

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="OrderID" />
        <dt>
            @Html.DisplayNameFor(model => model.IsFulfilled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsFulfilled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillingAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingAddress.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentType.AccountNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingAddress.City)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
