@model ProjectPrintDos.Models.ManageViewModels.GetPaymentTypesVM


<!-- User PaymentTypes Table -->
<table class="table">
    <thead>
        <tr>
            <th>
                <h4>Payment Options</h4>
            </th>
            <th>
                <h4>Is Default</h4>
            </th>
            <th><a class="btn btn-primary" asp-controller="PaymentType" asp-action="Create">Add New Payment Type</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserPaymentTypes)
        {
            <tr>
                <td>
                    <a asp-controller="" asp-action="Details" asp-route-id="@item.PaymentTypeID">
                        <p>
                            @item.Type <br>
                            @item.AccountNumber
                        </p>    
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPrimary)
                </td>
                <td>
                    <a asp-controller="PaymentType" asp-action="Edit" asp-route-id="@item.PaymentTypeID">Edit</a> | 
                    <a asp-controller="PaymentType" asp-action="Delete" asp-route-id="@item.PaymentTypeID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>